[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
cryptography = "*"
pyjwt = "*"
factionpy = "==2020.8.15.dev0"

[requires]
python_version = "3.8"
